<br>
<ng-template #IdError>
    <div class="text-danger">{{errorMessage}}</div>
</ng-template>

 <!-- --nous allons jonglet a ce stade << si products contient les données on les affiches sinon on affiche l'erreur ci-dessus  -->

 <!-- --sachez que vous ne pouvez pas utilisé deux ngIf a savoir 1 dans ng-template et 1 dans le div.class -->

<div class="container" *ngIf="products; else IdError">
    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" aria-current="true" href="#">Active tab</a>
          </li>
          <li class="nav-item">
            <!-- //used routerLink here -->
            <a class="nav-link" >Tab</a>
          </li>
          <li class="nav-item">
              <!-- //used routerLink here -->
            <a class="nav-link disabled"  tabindex="-1" aria-disabled="true">Disabled tab</a>
          </li>
          <li class="nav-item">
            {{searchFormGroup.value | json }}
            <!-- search bar -->
            <!-- 1- nous indiquons a ce niveau que le form represente l'objet formGroup se trouvant coté typeScript -->
                 <!-- 2- le ngSubmit est utiliser pour appeler une fonction lorsque le formulaire est validé  -->
          <form  [formGroup]="searchFormGroup" (ngSubmit)="handleSearchProduct()">
            <div class="input-group text">
                <label class="input-group-text">Search</label>
                <input type="text" class="form-control" formControlName="keyword">
               <button  class="btn btn-info">

                <i class="bi bi-search"></i>

              </button>
            </div>
          </form>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <h4 class="card-title">Products List</h4>

            <div class="table-responsive">
                <table class="table table-striped
                table-hover
                table-borderless
                table-primary
                align-middle">
                    <thead class="table-light">
                        <caption>Table Name</caption>
                        <tr>
                            <th>#Id</th>
                            <th>Name</th>
                            <th>price</th>
                            <th>promotion</th>
                            <th></th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider">

                            <tr class="table-primary" *ngFor="let product of products">
                                <td scope="row">{{product.id}}</td>
                                <td>{{product.name}}</td>
                                <td>{{product.price}}</td>
                                <td> <i *ngIf="product.promotion ==true " class="bi bi-heart-fill text-success"></i></td>

                                <td>
                                    <button (click)="handleSetPromotion(product)" [ngClass]="product.promotion == true?'btn-outline-danger':'btn-outline-success'" class="btn" >
                                        <span *ngIf="product.promotion==true">promotion off <span class="badge bg-primary">{{product.id}}</span> </span>
                                        <span *ngIf="product.promotion==false">promotion on <span class="badge bg-primary">{{product.id}}</span> </span>
                                    </button>
                                </td>

                                <td>
                                    <button (click)="handleDeleteProducts(product)" class="btn btn-danger" >
                                        <i class="bi bi-trash " ></i>
                                    </button>
                                </td>

                            </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                </table>
                <!-- gestion Pagination -->
                   <!-- la variable TotalPages ne concerne que les lien de navigation -->
                <ul class="nav nav-pills">
                  <li *ngFor="let item  of [].constructor(totalPages); let i=index">
                    <a [ngClass]="i==currentPage?'btn-primary':'btn-outline-primary'" class="btn  ms-1 mt-1" (click)="goToPages(i)">{{i}}</a>
                  </li>
                </ul>
            </div>
      </div>
    </div>
</div>